src/main/mule/cicd-sample-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b2482604-7ffe-4af6-8e60-daec1139dff6" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<global-property doc:name="Global Property" doc:id="b13d3fd6-ce73-4ed2-a78e-bf11f3bc268f" name="mule.env" value="test" />
	<configuration-properties doc:name="Configuration properties" doc:id="8b2dd2a9-9ecc-41ad-8758-d16d096c3ccb" file="config-${mule.env}.yaml" />
	<flow name="cicd-sample-deploymentFlow" doc:id="69efdb5c-ba96-445b-a6dd-d9f6c852adb6" >
		<http:listener doc:name="Listener" doc:id="25523ac4-2552-4289-8313-3cf2956894bc" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Success..."]' doc:name="Set Payload" doc:id="49e836e5-fa0c-40a9-92ca-a9e0c9737153" />
	</flow>
</mule>
